/* Preloader css begin */

.loader {
    background: #222;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    transition: 1s ease;
    margin: -50px auto auto auto;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}

.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap:nth-child(1) {
    animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
    animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
    animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
    animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
    animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}

.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}

.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {

    0%,
    15% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Preloader css end */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

a {
    outline: none;
}

#logo-image {
    height: 52px;
    width: 52px;
}

#wrapper {
    opacity: 0;
}

#slide-out {
    width: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
}

#sidenav-hamburger {
    margin-right: 0px;
    height: auto;
}

#sidenav-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    margin-top: 4px;
    padding-right: 16px;
}

#sidenav-items {
    width: 100%;
}

.sidenav li {
    border-bottom: 1px solid #575766;
    padding: 10px;
}

.sidenav li a {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
}

.sidenav li:hover,
.sidenav li:focus {
    background-color: #E4B363;
}

.sidenav li>a:hover,
.sidenav li>a:focus {
    background-color: transparent;
}

nav {
    transition: all 0.3s ease-out;
    padding-top: 20px;
    overflow: hidden;
    background-color: transparent !important;
}

nav li>a {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 0;
    margin: 0 20px;
    height: 52px;
}

nav li>a:hover,
nav li>a:focus {
    background-color: transparent;
}

nav li>a:hover {
    color: rgba(255, 255, 255, 0.75);
}

nav li>a.active {
    border-bottom: 4px solid red;
}

.logo {
    display: inline-block;
    height: 100%;
}

.logo>img {
    vertical-align: middle
}

header {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

header::before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
}

#hero {
    color: #fff;
    height: calc(100vh - 84px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#hero h1 {
    margin: 3rem 0 3rem 0 !important;
}

#type {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.typed-cursor {
    opacity: 1;
    font-size: 1.5rem;
    animation: blink .5s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#hero ul {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

#hero ul>li {
    display: inline-block;
    margin: 0 15px;
    font-size: 4rem;
}

.zoomableLink {
    color: #FFF;
    display: block;
    transition: transform 0.3s ease-in-out;
}

#scroll-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#page-sections {
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-sections section {
    width: 100%;
}

#circle-img {
    border-radius: 50%;
    max-height: 250px;
    margin: 25px 5px 5px 25px;
    float: right;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}

.section-heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 80px;
    text-transform: uppercase;
}

.card-box {
    box-shadow: none;
}

.card-content {
    border-radius: 20px !important;
    border: 1px solid #252934 !important;
}

.collection {
    border: none;
}

.collection-item {
    background: aliceblue !important;
}

.inner-section-heading {
    font-family: 'Lora', serif;
}

.inner-section-content {
    font-family: 'Lora', serif;
    font-size: 1.25rem;
}

.inner-section-content-small {
    font-family: 'Lora', serif;
}

.shrink {
    opacity: 0.95;
    padding-top: 0px;
    background-color: #000 !important;
}

.carousel-fixed-item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4rem;
    display: table;
}

#carouselRightButton {
    left: unset !important;
}

.carouselBox {
    width: 80%;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.carousel-item {
    height: 100% !important;
}

.imageHoverShow {
    position: relative;
}

.imageHoverShow img {
    transition: .5s ease-in-out;
}

.imageHoverShow:hover img {
    filter: blur(2px) brightness(60%);
}

.content {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
    text-align: center;
    color: #fff;
    opacity: 0;
    width: 100%;
    transition: .5s ease-in-out;
}

.imageHoverShow:hover .content {
    opacity: 1;
}

.ovalButton {
    width: 150px;
    height: 50px;
    letter-spacing: 1px;
    border-radius: 25px;
    border: 1px solid #FFF;
    background: transparent !important;
    color: #FFF;
}

.ovalButton:hover {
    background: #FFF !important;
    color: red;
}

.circleIcon {
    display: inline-block;
    border-radius: 50%;
    padding: 0.3em 0.35em;
    color: #FFF;
    border: 1px solid #FFF;
    font-size: 24px;
    background: #757575;
}

.modal-overlay {
    background: transparent !important;
}

@media screen and (min-width: 601px) {
    #hero h1 {
        font-size: 5rem;
        font-weight: 900;
    }
}

@media screen and (max-width: 600px) {
    #logo-image {
        height: 44px;
        width: 44px;
    }

    #hero {
        height: calc(100vh - 82px)
    }

    #hero h1 {
        font-size: 2.5rem;
        font-weight: 900;
    }

    #hero ul>li {
        margin: 0 7.5px;
        font-size: 1.8rem;
    }

    #type {
        font-size: 1.1rem;
    }

    #scroll-btn h5 {
        font-size: 1.3rem;
    }

    #scroll-btn ul li a {
        font-size: 1.3rem;
    }

    .section-heading {
        font-size: 4.2rem;
    }

    #circle-img {
        display: block;
        margin: 0 auto;
        float: none;
    }

    #about .row {
        margin-bottom: 0px;
    }

    #about .card-box {
        margin-bottom: 20px;
    }

    #aboutLastBox {
        margin-bottom: 27px !important;
    }

    .carouselBox>p {
        font-size: 1.6rem !important;
    }
}